
.DS_Store

example/.DS_Store

example/xcode/example.xcodeproj/project.xcworkspace/xcuserdata/Zplutor.xcuserdatad/UserInterfaceState.xcuserstate

example/xcode/example.xcodeproj/xcuserdata/Zplutor.xcuserdatad/xcschemes/example.xcscheme

example/xcode/example.xcodeproj/xcuserdata/Zplutor.xcuserdatad/xcschemes/xcschememanagement.plist
